<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Book</title>
</head>
<body>
    <form  th:action="@{/save/{id}(id=${book.id})}" th:object="${book}"
          method="post">
        <h1>Create New Book</h1>
        <table border="0" cellpadding="10">
            <tr>
                <td>Book title:</td>
                <td><input type="text" th:field="*{title}" /></td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> Title error</td>
            </tr>
            <tr>
                <td>Authors (comma separated):</td>
                <td><input type="text" th:field="*{authors}" /></td>
                <td th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}"> Authors error</td>
            </tr>
            <tr>
                <td>Genre:</td>
                <td><input type="text" th:field="*{genre}" />
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</body>
</html>